.company-layout {
	margin:0 auto;
}

.company-name {
	text-align:right;
	color: #60B30E;
	font-size: 1.4em;
	font-weight:bold;
	padding-left:60px;
	padding-right:60px;
}
.company-stats {
	margin-bottom:10px;
	width: 1120px;
	padding-left:60px;
	padding-right:60px;
}

.company-stats-layout {
	background-color: rgb(218,227,208);
	border: 2px solid rgb(118,127,108);
	padding:10px;
}

div.v-csslayout.company-stats-layout,
div.v-csslayout.company-stats-labels,
div.v-csslayout.company-stats-values,
div.v-csslayout.company-stats-contact,
div.v-csslayout.company-stats-contact-labels,
div.v-csslayout.company-stats-contact-values {
	display:inline-block;
	vertical-align: top;        
}

.company-stats-contact{
	float:right;
}

.company-stats-labels,
.company-stats-values,
.company-stats-contact-labels,
.company-stats-contact-values {
	width:200px;
}

.company-stats .v-label {
	padding-left: 5px;
	padding-top:5px;
}
/*.company-stats-line-height .v-csslayout-container{*/
.company-stats-line-height {
	line-height:126px;
}

.company-stats-label {
	text-align:center
}
.info-bar {
	padding:20px;
	padding-left:60px;
	padding-right:60px;
}

.info-bar .v-label {
	display: inline-block;
	vertical-align: middle;
}

.info-bar .label1 {
	margin-left:100px;
}

.info-bar .label2 {
	margin-left:100px;
}

.info-bar .label3 {
	margin-left:50px;
}

.add-user-button .v-button-wrap,
.add-user-button.v-disabled:active .v-button-wrap,
.add-user-button.v-button:active .v-button-wrap,
.v-ie8 .add-user-button.v-pressed.v-button .v-button-wrap,
.add-user-button.v-button-down .v-button-wrap {
	padding-top:30px
}


.add-user-button .v-button-caption {
	padding-left:10px;
}

div.v-csslayout.add-user-button-margins {
	display:inline-block;
	vertical-align: middle;
}

.employee-row {
	position:relative;
}

.header-row {
	margin-left:60px
}

.employee-day{
	width:75px;	
}

.day {
	width:75px;
}

.name {
	width: 150px;
}

.sport {
	width: 100px;
}

.km-label {
	width: 40px;
}

.km-total {
	width: 90px;
	text-align:right;
}

.employee-controls {
	position: absolute;
	left: 0;
	top: 0;
}

.employee-row .v-label,
.header-row .v-label {
	display:inline-block;
}

.employee-row-row {
  	margin-left:60px;
}
 
.selected .employee-row-row {
	background-color: #ffa;	
}

.today-button {
	vertical-align: middle;
}

div.v-csslayout.info-bar-right {
	display:inline-block;
	vertical-align: middle;
	padding-left:20px;
}

.today-button .v-button-wrap .v-button-caption{
	white-space: normal;
	line-height:84px;	
}

.yes, .no {
	border-radius:0;
}

.yes.v-button .v-button-caption,
.no.v-button .v-button-caption {
	height:24px;
	width:30px;
	display:inline-block;
}

.yes.v-button .v-button-wrap,
.no.v-button .v-button-wrap,
.yes.v-button:active .v-button-wrap,
.no.v-button:active .v-button-wrap,
.v-ie8 .yes.v-pressed.v-button .v-button-wrap,
.v-ie8 .no.v-pressed.v-button .v-button-wrap,
div.yes.v-button-down,
div.no.v-button-down {
	margin:0;
	padding:0;
	border:none;
	text-overflow: clip;
}

.new-user-layout{
	display: inline-block;
	vertical-align: middle;
}

.yes {
	text-align:center;
}

.yes .v-button .v-button-wrap{
	text-align:center;
}

.yes.v-button img,
.yes.v-button .v-icon {
	margin-left:24px;
	vertical-align:baseline;
}
	
/*
.yes.v-button .v-button-wrap .v-button-caption {
	background:transparent url('img/check.png') no-repeat 0 0;
}
*/
.km-label {
	text-align:right;
	margin-right:10px;
}

.center-label {
	text-align:center;
}

.employee-table {
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.employee-table .v-label{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
