input.v-paintable.v-textfield[type="text"].login-token {
	height: 30px;
}

body input.v-textfield-login-token {
	font-size: 1.3em;
}

input.v-textfield-login-token[type=text] {
	padding: .6em;
}

.v-button-login-submit {
	font-size: 1.2em;
}

.competition-stats {
	padding-top:10px;
	padding-bottom:10px;
}

.competition-stats .v-csslayout-margin{
	background-color: rgb(218,227,208);
	border: 2px solid rgb(118,127,108);
	
}

.competition-stats .v-csslayout-container{
	line-height:126px;
}

.competition-stats-label {
	text-align:center
}

.show-company-register-button .v-button-caption {
	color:black;
}

.show-company-register-button .v-icon {
	float: right;
	margin-left: 3px;
	padding-top:4px;
	padding-bottom:3px;
}

.register-company-spacer {
	height:15px;
}

.company-size {
	clear:both;
}

.company-size .v-select-option{
	display: inline-block;
	padding-right:10px;
}
